h5 {
  color: #0b7e8a;
  font-size: 50px;
}
h6 {
  font-size: 30px;
  margin-bottom: 2px;
  color: #6c757d;
  padding-left: 0px;
}
.card-body {
  background-color: #bfdfec;
  background-repeat: repeat-x;
  background-image: url("https://i.stack.imgur.com/b7z29.png");
  animation: movement 10s linear infinite;
}
.description {
  font-size: 20px;
  color: #6c757d;
  text-transform: capitalize;
  padding-left: 0px;
}
