body {
  background-color: #bfdfec;
  background-repeat: repeat-x;
  background-image: url("https://i.stack.imgur.com/b7z29.png");
  animation: movement 10s linear infinite;
  margin-left: 0px;
}
@keyframes movement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 560px 0px;
  }
}
