input {
  opacity: 0.5;
  border-color: bisque;
  border-style: solid;
  border-width: 1px;
}
.search {
  background: #367e18;
  opacity: 0.8;
  color: white;
  border-radius: 4px;
  border-style: none;
  padding: 3px 6px 3px 6px;
  margin-bottom: 20px;
  font-size: smaller;
  position: relative;
}
input {
  opacity: 0.5;
  border-color: bisque;
  border-style: solid;
  border-width: 1px;
}
.select-city {
  margin-left: 0px;
}
h3 {
  font-size: medium;
  text-transform: none;
  color: rgb(3, 22, 65);
}
h1 {
  text-transform: capitalize;
  text-decoration-style: solid;
  color: rgb(3, 22, 65);
  font-size: 30px;
}
