.row {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
}
.temp {
  display: flex;
}
.App {
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 900px;
  margin-left: 29px;
  margin-right: 29px;
  padding: 0px 12px;
}
.container {
  max-width: 720px;
  margin: 0px 29px;
  padding: 0px 12px;
}

.btn {
  height: 50px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 700;
}
.w-100 {
  width: 100% !important;
}
.p-0 {
  padding: 0 !important;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
  line-height: 20px;
  border-radius: 6px;
}
.form-control {
  width: 100%;
  height: 50px;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
ul {
  list-style: none;
  line-height: 40px;
}
p {
  text-transform: capitalize;
}
p.description {
  font-size: 30px;
  text-align: left;
}
